extends layout

block content
  h2(class="add")=title
  hr
  ul(class="add")
    li
      a(href="/admin/add" class="admin-btn") Add new hotel
    li
     a(href="/admin/edit-remove" class="admin-btn") Edit/Remove Hotel
    li
     a(href="/admin/orders" class="admin-btn") View bookings 
      

      