extends layout
include mixins/_orders
block content
 h2=title
 hr

 if user
  h3= `Welcome, ${user.first_name}!`

    if orders.length>0 
        h3 Your Bookings
        each order in orders
         +orders(order)
    else
        h3 No order to show, yet
        img(class="nothing" src="images/nothing.svg" alt="not found") 
 else 
  h3 Please login to view this section!
  img(class="nothing" src="images/nothing.svg" alt="not found")   
         