extends layout

include mixins/_hotel

block content
  h2= title
  each hotel in searchData
    .hotel_wrapper
      +hotel(hotel, searchQuery)
  else
    li There are no hotels matching your search.
    
