mixin hotel
  .hotel
    .hotel_img
        a(href='')
            img(src="/images/hotels/hotel1.jpg")
    .hotel_info
        a(href="")
        h3 Grand Rous Hotel
        hr
        p Rating: 4
        p Country: Jamaica
        p Cost per night: 24 